/* 1 se crea un Selector + propiedad + valor
la sintaxis es asi , 
selector es una etiqueta el html{  
propiedad, es u  atributo por ejemplo el valor
}
*/

/*color: blue;*/
/*nombre de color, hexadecimal,rgh y rgba*/
/*color: color:#B2D6F9;*/
/*color: rgb(0,0,255);*/
/* font-size o los tamaños se pueden expresar en dif unidades, son las unidades de medidas, pixeles, em , rem o % */
/*generalmente todo lo de texto se utiliza con px , 
y todo lo que tiene que ver con ancho y alto con mas anchos con %*/

p{
color: #f88989;
font-style: italic;
font-size: 30pv;
text-align: center;

}

h1{
   color:#da0707
   text-align: center;
   margin: 80px;
   font-size: 80px;  /*unidades de medidas, o tamaños, se pueden expresar en dif unidades */
  /*para algunas cosas vamos a usar pixeles px, em rem y %*/
  /*todo lo referido a texto es com pixeles y todo lo de anchos y altos es con %*/
 
}

body {
    background-color:hsl(311, 64%, 85%);
    text-align: left;
    font-size: 40px;

}


div {
   color:rgb(54, 10, 111);
}

span{
  color:#750b74;
  text-align: left;
  
}

h2{
    color: #a81cf3;
    font-size:40px;
    text-align:center;
}

.titulos {
 color: rgb(226, 43, 223);
 text-transform: uppercase; 
 font-size: 50px;
 text-align: center;
}

.imagen {
    width: 50vw; /* La imagen ocupará el 50% del ancho de la ventana del navegador */
    height: auto;
}

.video {
  width: 60%;
  height: 400px; /* O un alto fijo */
  }

.titulos-parrafos{
color: rgb(13, 103, 103);
text-align: center;
font-size:30px;
}
.presentacion-equipo{
     color: rgb(71, 3, 39);
}
.titulos-contenido {
    color: rgb(230, 96, 170);
}


.titulos-espacio{
   color:rgb(73, 73, 225)
        }

    
.titulos-especialidad {
    color:rgb(255, 235, 205)
    }

     /* width es el ancho y ademas de pixeles se pueden utilizar porcentajes %*/
     /* height es la altura se pueden usar unidades relativas , vh es la altura de la ventana de nuestro navegador*/ 
     /*flex grow nos permite cambiar el ancho de las cajas de manera flexible*/


.caja{
width: 50%;/*ancho en pixeles */
height: 30vh;  /*alto en pixeles */
background-color: rgb(216, 240, 240);
border:3px solid blue; /*el borde lleva 3 valores, el tamaño, el estilo d borde
y el color*/
text-align: center;
line-height: 100px;
margin: 10px;  /* para que se separen las cajas entre ellas*/

/* Flex grow nos permite cambiar el ancho de las cajas de manera flexible*/
}

.caja-ini{
  flex-grow: 2;
  text-align: center;
}


.inline{
  display:inline;
  color: #a81cf3;
  font-weight: bold;
}

.contenedor {
  display: flex;  /*asi se Activa flexbox*/
  flex-wrap: wrap; /* Flex grow nos permite cambiar el ancho de las cajas de manera flexible*/
  align-content: space-between; /* Con aligan-items puedo alinear verticalmente los elementos*/
 }

.grid-container{   /*tipo grillas*/
display: grid;   /*Definimos grillas*/ 
grid-template-columns:repeat(4, 1fr); /*definimos columnas*/
justify-items: center;

}

/*style.css para mobile*/
body{
   font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
   margin:0;
   padding:0;
}

h1{
   font-size: 1.5em;
}

h2 {

  font-size: 1.2em;
}

p{
  font-size: 1em;
}

/*style.css para Media query para tabletas*/
@media (min-width: 600px)

body {
  padding: 20px;
}

header, main, footer {
padding: 20px;
text-align: left;
}

h1{
font-size: 2em;
}

h2{
font-size: 1.5em;
}

p{
font-size: 1.2em;
}

/*style.css para computadoras escritorio*/
@media(min-width:1024px)
     body{
     max-width: 1200px;
     margin:0 auto;
    }
     header,footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     }

     nav ul {
    justify-content: flex-end;
    padding:  0;
     }

.navbar{
background-color: #f8d789;
}

.navbar ul {
display: flex;
list-style: none;
padding:  0;
margin:  0;
}
.navbar li {
margin:0 15px;
color: #1178de;
padding: 15px 20px;
display: block;
width: 75%;
}
.navbar a {
color: #a81cf3;
padding: 15px 20px;
display: block;
width: 75%;
}

.container{
  
display: flex;
}

/*Elementos y con # se busca el color */
.sidebar{
width: 25%;
background-color: #f88989;  /*con # se busca el color */
padding: 20px;
}
.main-content{
width: 75%;
background-color:#ebd174;
padding: 20px;
}